@import url('./static/css/header.css');
@import url('./static/css/main.css');
@import url('./static/css/footer.css');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  font-size: 10px;
}
